// Colors
// ==================================================
$white: #fff;
$black: #000;

$gray-lighter: #e3e3e3;
$gray-light: #c9c9c9;
$gray: #949494;
$gray-dark: #5e5e5e;
$gray-darker: #282828;

$yellow: #f5cc45;
