// Typography
// ==================================================
$sans-serif-stack: -apple-system, BlinkMacSystemFont, ".SFNSDisplay-Regular", Roboto, Helvetica, Arial, sans-serif;
$serif-stack     : Garamond, Georgia, Times, "Times New Roman", serif;

$sans-serif: Heebo, $sans-serif-stack;
$serif     : "Playfair Display", $serif-stack;
