// Home
// ==================================================

// Hero
// ==================================================
.section--hero {
  color: $white;
  background-color: $gray-darker;
  background: url("../images/hero-bg.jpg") no-repeat center;
  background-size: cover;
  padding-top: 64px;
  padding-bottom: 64px;
}

.hero__left {
  max-width: 336px;
}

@include mq(medium) {
  .section--hero {
    padding-top: 128px;
    padding-bottom: 128px;
  }

  .hero__left {
    max-width: 376px;
  }
}

@include mq(mid) {
  .hero-title {
    font-size: 48px;
  }

  .hero__left {
    max-width: 424px;
  }
}

@include mq(large) {
  .section--hero {
    padding-top: 192px;
    padding-bottom: 192px;
  }

  .hero__left {
    max-width: 480px;
  }

  .hero-title {
    font-size: 56px;
  }

  .hero-subtitle {
    max-width: 416px;
  }
}

.hero-title {
  color: $yellow;
}

// About
// ==================================================
.about__info {
  position: relative;
  z-index: 1;
}

.about-picture {
  box-shadow: 8px 8px 0 $yellow;
  margin-bottom: 16px;
}

.about__philippines {
  margin: 0;
  margin-top: -184px;
  position: relative;

  img {
    vertical-align: middle;
  }

  figcaption {
    display: flex;
    align-items: center;
    position: absolute;
    top: 196px;
    left: 84px;

    div {
      width: 20px;
      height: 20px;
      border: 2px solid $white;
      background-color: $blue;
      border-radius: 50%;
      margin-right: 16px;
      position: relative;

      &::before {
        background-color: rgba($blue, 0.4);
        border-radius: 50%;
        animation: about__philippines-beacon 2s ease-out forwards infinite;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: "";
      }
    }

    span {
      @include serif;

      font-weight: 700;
      color: $gray-darker;
      line-height: 1.2;
      flex-basis: 96px;
    }
  }
}

@include mq(780) {
  .about__info {
    max-width: 400px;
    margin-left: auto;
  }

  .about-picture {
    position: absolute;
    left: -96px - 32px;
  }

  .about__philippines {
    margin-top: 0;
    position: absolute;
    top: 0;
  }
}

@keyframes about__philippines-beacon {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(5);
    opacity: 0;
  }
}
