<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Heebo:400,500|Playfair+Display:700,900">
  <link rel="stylesheet" href="assets/css/site.css">

  <title>{{ site.title }}</title>
</head>
<body>
  {{ content }}

  <script src="assets/js/flickity.js"></script>
  <script src="assets/js/site.js"></script>
</body>
</html>
